input[type=checkbox] {
    display: inline-block;
    width: 0px !important;
}

input[type=checkbox]:before {
    content: "YES";
    border-radius: 6px 0px 0px 6px;
    border: 1px solid white;
    padding: 2px 16px;
    background: rgba(255,255,255,0);
    color: white;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

input[type=checkbox]:after {
    content: "NO";
    border-radius: 0px 6px 6px 0px;
    border: 1px solid white;
    padding: 2px 16px;
    background: rgba(255,255,255,1);
    color: black;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

input[type=checkbox]:checked:before {
    background: rgba(255,255,255,1);
    color: black;
}
input[type=checkbox]:checked:after {
    background: rgba(255,255,255,0);
    color: white;    
}