* {
  -webkit-overflow-scrolling: touch;
}

html {
}

#app-space {
  opacity: 0;
}

#boot-video {
  opacity: 1;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.eot");
  src: local('Framework7 Icons'),
     local('Framework7Icons-Regular'),
     url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
     url("../fonts/Framework7Icons-Regular.woff") format("woff"),
     url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
}

.f7-icons, .framework7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
  background: #000000;
}


.button[data-disabled=true] {
  color: #BBB !important;
}



/*
.panel-left .content-block a {
  margin-bottom: 16px;
  color: white;
}
.panel-left .content-block a[data-current] {
  color: #007aff !important;
}
.panel-left .content-block i {
  font-size: 28px;
}
.panel-left .content-block span {
  font-size: 24px;
  margin-left: 8px;
  line-height: 24px;
}*/

.chip {
  box-shadow: 2px 2px 6px dimgray;
}
.device-quick-control-light_wrgb .chip { min-width: 96px; width: calc(100%/3 - 8px); margin: 4px;}
.device-quick-control-light_wrgb .chip i { font-size: 16px; }
.device-quick-control-light_wrgb .chip.all-off i { color: black; }
.device-quick-control-light_wrgb .chip.all-on i { color: white; }
.device-quick-control-light_wrgb .chip.all-half i { color: gray; }
.device-quick-control-light_wrgb .chip.all-red i { color: red; }
.device-quick-control-light_wrgb .chip.all-green i { color: lightgreen; }
.device-quick-control-light_wrgb .chip.all-blue i { color: lightblue; }
.device-quick-control-light_wrgb .chip.all-purple i { color: purple; }
.device-quick-control-light_wrgb .chip.all-orange i { color: orange; }
.device-quick-control-light_wrgb .chip.all-unspecified i { color: dimgray; }

.device-quick-control-lighting .chip { min-width: 96px; width: calc(100%/3 - 8px); margin: 4px;}
.device-quick-control-lighting .chip i { font-size: 16px; }
.device-quick-control-lighting .chip.all-off i { color: black; }
.device-quick-control-lighting .chip.all-on i { color: white; }
.device-quick-control-lighting .chip.all-half i { color: gray; }
.device-quick-control-lighting .chip.all-25 i { color: rgb(64,64,64); }
.device-quick-control-lighting .chip.all-75 i { color: rgb(192,192,192); }


.typed-device-list[data-device-type]:last-child {
  padding-bottom: 48px;
}

.device-info-light_wrgb .item-media i {
    background-image: -webkit-linear-gradient(top,       #F00, #080, #00F); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top,       #F00, #080, #00F); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top,       #F00, #080, #00F); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top,       #F00, #080, #00F); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, #F00, #080, #00F); /* Standard syntax; must be last */
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;  
  padding: 1px;
  line-height: 27px;
}

.device-info-light_wrgb .item-input > label.label-switch {
  vertical-align: top; 
  margin-right: 12px;
}
.device-info-light_wrgb .item-input > span.range-slider {
  display: inline-block;
  width: calc(100% - 84px);
  vertical-align: top; 
  margin-right: 12px;
}
.device-info-light_wrgb .item-input > span:last-child {
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  vertical-align: top;
  top: 7px;
  position: relative;
}
.device-info-light_wrgb .item-input > span button.jscolor {
  border: 1px solid gray;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  color: transparent !important;
  opacity: 1 !important;
  font-size: 1px;
}
.device-info-light_wrgb .item-input > span button.jscolor:focus {
  outline: none;
}






.device-info-lighting .item-input > label.label-switch {
  vertical-align: top; 
  margin-right: 12px;
}
.device-info-lighting .item-input > span.range-slider {
  display: inline-block;
  width: calc(100% - 60px);
  vertical-align: top; 
  margin-right: 12px;
}





.panel .button.f7-icons {
  font-size: 16px;
  float: right;
  height: auto;
}

.device-quick-control-ac_switch .chip { min-width: 96px; width: calc(50% - 8px); margin: 4px;}
.device-quick-control-ac_switch .chip i { font-size: 16px; }
.device-quick-control-ac_switch .chip.all-off i { color: black; }
.device-quick-control-ac_switch .chip.all-on i { color: white; }



[data-page="floorplan"] .page-content .square {
  display: inline-block;
  position: relative;
  width: 12.5%;
}

[data-page="floorplan"] .page-content .square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

[data-page="floorplan"] .page-content .square > .content {
  position: absolute;
  width: 100%;
  height: 100%;
}


.room-control-item {
    height: 44px;
    width: 44px;
    border-radius: 44px;
    display: inline-block;
    background: white;
    /* border: 1px solid blue; */
    line-height: 38px;
    vertical-align: middle;
    text-align: center;
    box-shadow: 2px 2px 8px black;
}

.room-control-light_wrgb .status {
  height: 36px;
  width: 36px;
  border-radius: 36px;
  margin: 3px;
  /*border: 1px solid dimgray;*/
}
.room-control-light_wrgb.jscolor .color {
  position: absolute;
  height: 36px;
  width: 16px;
  margin-right: 1px;
  border: 1px solid dimgray;
  border-top-left-radius: 36px !important;
  border-bottom-left-radius: 36px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.room-control-light_wrgb .level {
  position: absolute;
  left: 22px;
  height: 36px;
  width: 16px;
  border: 1px solid dimgray;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  margin-left: 1px;
}


.room-control-ac_switch .status {
  height: 36px;
  width: 36px;
  border-radius: 36px;
  margin: 3px;
  border: 1px solid dimgray;
}
.room-control-ac_switch .status[data-value="1"] {
  background-color: #FFF;
}
.room-control-ac_switch .status[data-value="0"] {
  background-color: #000;
}



.jscolor .track {
    background:     #EFEFEF url(/img/rgb.png) no-repeat 50% 50%;
    background-size: 150px 150px;
    height:         150px;
    width:          150px;
    position:       absolute;
    cursor:         crosshair;
    float:          left;
    left:           -140px;
    top:            -71px;
    display:        none;

    padding:        6px;
    border:         1px solid #ccc;
    box-shadow: 0px 0px 6px gray;

    z-index:        5000;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;

}

.jscolor .track canvas {
  border-radius: 150px;
}

.jscolor .color {
    width:          100%;
    height:         100%;
    display:        block;
    position:       relative;
    z-index:        11;
    background-color: #EFEFEF;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    cursor: pointer;
}
.jscolor[disabled=true] .color {
  opacity: 0.55;
}
.jscolor .track[disabled=true] {
  opacity: 0.55;
}

.jscolor .colorInner {
    width:          25px;
    height:         25px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
}

.jscolor .dropdown {
    list-style: none;
    display: none;
    position: absolute;
    width: 150px;
    top: 100px;
    background: #EFEFEF;
    left: 0;
    z-index: 5000;
    margin: 0px;
    padding:        6px;
    border:         1px solid #ccc;
    box-shadow: 0px 0px 6px gray;
}

.jscolor .dropdown li{
    height: 25px;
    cursor: pointer;
    text-align: left;
}

.jscolor[data-align="left"] .track,
.jscolor[data-align="left"] .dropdown {
  left:           0px;
}
.jscolor[data-align="right"] .track,
.jscolor[data-align="right"] .dropdown {
  left:           -140px;
}
.jscolor[data-align="middle"] .track,
.jscolor[data-align="middle"] .dropdown {
  left:           -70px;
}

[data-page='scenario'] .swipeout-actions-right .delete {
  background: red;
}
